@import 'store.css';
@import 'products.css';

/*# sourceMappingURL=application.css.map */
body {
    margin: 0;
    padding: 0;
}

header.main {
    text-align: center; // center on mobile @media (min-width: 30em) {
    text-align: left; // left align on desktop }
    background: rgb(0, 255, 255);
    margin: 0;
    padding-left: 25px;
    h1 {
        display: none;
    }
}

.content {
    margin: 0;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: column; // mobile is horizontally laid out -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    @media (min-width: 30em) {
        flex-direction: row; // desktop is vertically laid out -webkit-box-orient: horizontal;
    }

    nav {
        width: 150px;
        padding-bottom: 1em;
        background: rgb(0, 255, 255);
        text-align: center; // mobile has centered nav @media (min-width: 30em) {
        text-align: left; // desktop nav is left-aligned
        padding: 1em;
    }

    ul {
        // and needs more padding
        list-style: none;
        margin: 0;
        padding: 0;

        @media (min-width: 30em) {
            padding-right: 1em; // give desktop some extra space }

            li {
                margin: 0;
                padding: 0.5em;
                font-size: 20px;
                a {
                    color: rgb(2, 92, 114);
                    text-decoration: none;
                }

                a:hover {
                    background: none;
                    color: white;
                }
            }
        }
    }

    main {
        padding: 0.5em;
    }
}