.products {
  margin: 0;
  padding: 0.5em;
}

.products h1 {
  text-align: center;
}

.products h3 {
  text-align: center;
}

.products a {
  padding: 0.354em 0.5em;
  border-radius:  0.354em;
}
.products table {
  margin: 0 auto;
  margin-top: 20px;
  border-collapse: collapse;
}
.products td {
  padding: 0.5em;
  margin: 0;
}

.products tr.list_line_odd {
  background-color: lightgreen;
}
.products td.image {
  display: none;
}
@media (min-width: 30em) {
  .products td.image {
    display: block;
  }
  .products td.image img {
    height: 11.3em;
  }
}
.products td.description h1 {
  font-size: 1.4em;
}
.products td.actions ul {
  padding: 0;
  list-style: none;
}
.products td.actions ul li {
  padding: 0.5em 0.5em;
}
.products tfoot td {
  padding: 0.5em 0;
}

.button_container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new_product {
  width: 150px;
  height: 25px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
}

.button_container a {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2E2F30;
  background-color: lightgreen;
}